body{
    background-color: rgb(7, 240, 209);
    }
    .a31{
        height: 300px;width: 500px;
    }
    marquee{
        background-color: rgb(238, 80, 225);font-size: 50px;
    }
    table,th,td{
        border: 2px solid black;border-collapse: collapse;
    }
    table{
        background-image: url(dad.jpg);
        height: 300px;width: 500px;
        background-size: 500px 300px ;
        background-repeat: no-repeat;}
       td {
        color:rgb(235, 52, 76) ;
        text-align: center;
    }
        th{
            color: rgb(34, 12, 235);
            text-align: center;
        }
        fieldset{
            border:2px solid black;height: 500px;width: 800px;
            background-color: rgb(0, 255, 106);float: right;
        }
        legend{
            text-align: center;
            font-style: bold;font-size: 20px;
        }
        #s21{
            height: 500px;
            width: 600px;
            margin-left: 200px;
        }
        img{height: 500px;width: 600px;

        }
        b{
            font-size: 100px;
        }
